.bg,
.bgChild {
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  max-width: 100%;
}
.bg {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10) var(--padding-16) 300px 42px;
  box-sizing: border-box;
  gap: 13px;
  text-align: center;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.bgChild {
  width: 764px;
  height: 839px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.profileBackground,
.profileHeader {
  display: flex;
  align-items: flex-start;
}
.profileBackground {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-0) var(--padding-2) var(--padding-10) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-10);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-16);
}
.profileHeader {
  flex-direction: column;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
}
.profileHeaderChild {
  width: var(--width-36);
  height: var(--height-36);
  position: relative;
  border-radius: var(--br-50);
  background-color: var(--color-deeppink);
  z-index: 2;
}
.ooWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 398px;
  max-width: 100%;
}
.oo,
.profileBackgroundChild {
  position: relative;
  z-index: 2;
}
.profileBackgroundChild {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-36);
  width: var(--width-36);
}
.profileDetail {
  width: 520px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-12);
  max-width: 100%;
  flex-shrink: 0;
}
.list,
.listParent,
.profileDetail {
  display: flex;
  align-items: flex-start;
}
.listParent {
  margin: 0;
  align-self: stretch;
  row-gap: var(--gap-20);
}
.list {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11) var(--padding-29) var(--padding-10) 34px;
  background-color: var(--color-whitesmoke-200);
  flex: 0.5586;
  border-radius: var(--br-5) var(--br-0) var(--br-0) var(--br-5);
  box-sizing: border-box;
  min-width: var(--min-w-111);
  max-width: var(--max-w-125);
  z-index: 3;
}
.list:hover {
  background-color: var(--color-gainsboro-300);
}
.div,
.listChild {
  position: relative;
  flex-shrink: 0;
}
.listChild {
  height: var(--height-37);
  width: var(--width-125);
  border-radius: var(--br-5) var(--br-0) var(--br-0) var(--br-5);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.div {
  flex: 1;
  font-size: var(--fs-14);
  line-height: var(--lh-16);
  font-family: var(--font-nunito);
  color: var(--color-dimgray);
  text-align: center;
  z-index: 1;
}
.board {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11) var(--padding-10) var(--padding-7)
    var(--padding-11);
  background-color: var(--color-whitesmoke-400);
  flex: 0.9369;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: var(--min-w-111);
  max-width: var(--max-w-125);
  z-index: 2;
}
.board:hover {
  background-color: var(--color-lightgray-100);
}
.boardChild,
.div2 {
  position: relative;
  flex-shrink: 0;
}
.boardChild {
  height: var(--height-37);
  width: var(--width-125);
  background-color: var(--color-whitesmoke-400);
  display: none;
}
.div2 {
  flex: 1;
  font-size: var(--fs-14);
  font-family: var(--font-nunito);
  color: var(--Text);
  text-align: center;
  z-index: 1;
}
.board2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11) var(--padding-6) var(--padding-10) var(--padding-8);
  background-color: var(--color-steelblue-100);
  flex: 1;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: var(--min-w-111);
  max-width: var(--max-w-125);
  z-index: 3;
}
.board2:hover {
  background-color: var(--color-deepskyblue);
}
.b,
.boardItem {
  position: relative;
  flex-shrink: 0;
}
.boardItem {
  height: var(--height-37);
  width: var(--width-125);
  background-color: var(--color-steelblue-100);
  display: none;
}
.b {
  flex: 1;
  font-size: var(--fs-14);
  line-height: var(--lh-16);
  font-family: var(--font-nunito);
  color: var(--Grays-White);
  text-align: center;
  z-index: 1;
}
.board3,
.boardInner {
  border-radius: var(--br-0) var(--br-5) var(--br-5) var(--br-0);
  background-color: var(--color-whitesmoke-400);
}
.board3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11) var(--padding-10) var(--padding-7)
    var(--padding-11);
  flex: 0.9369;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: var(--min-w-111);
  max-width: var(--max-w-125);
  z-index: 2;
}
.board3:hover {
  background-color: var(--color-lightgray-100);
}
.boardInner {
  height: var(--height-37);
  width: var(--width-125);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.visitBriefingTitle {
  width: 151px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-9);
  box-sizing: border-box;
}
.b2 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.briefingDetails,
.briefingInfo,
.parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.briefingDetails {
  width: 658px;
  padding: var(--padding-0) var(--padding-17) var(--padding-4);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-steelblue-200);
  font-family: var(--font-nunito);
}
.briefingInfo,
.parent {
  flex-direction: column;
}
.briefingInfo {
  flex: 1;
  padding: var(--padding-17) var(--padding-19) var(--padding-19);
  position: relative;
  isolation: isolate;
  gap: var(--gap-16);
  max-width: 100%;
}
.parent {
  width: var(--width-125);
  padding: var(--padding-0) var(--padding-0) var(--padding-6);
  gap: var(--gap-2);
  flex-shrink: 0;
}
.b3,
.timeDivider {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.timeDivider {
  color: var(--color-black);
}
.group {
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2);
  max-width: 100%;
  flex-shrink: 0;
}
.b4,
.fed {
  position: relative;
  z-index: 2;
}
.b4 {
  width: var(--width-125);
  display: inline-block;
}
.fed {
  color: var(--color-black);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-10);
  gap: var(--gap-1);
  flex-shrink: 0;
}
.b5 {
  width: var(--width-125);
  position: relative;
  line-height: var(--lh-18);
  display: inline-block;
  z-index: 2;
}
.frameDiv {
  width: 204px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2);
  flex-shrink: 0;
}
.icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-5);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
  flex-shrink: 0;
}
.briefingActions {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-8);
  box-sizing: border-box;
  flex-shrink: 0;
  color: var(--Grays-White);
}
.actionButtons,
.briefingActions,
.dispatchCalendarButtonsParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.actionButtons {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10);
}
.dispatchCalendarButtonsParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.dispatchCalendarButtons {
  width: 359px;
  display: flex;
  align-items: flex-start;
  gap: 7px;
  max-width: 100%;
}
.rectangleParent {
  cursor: pointer;
  border: 0 solid var(--Grays-White);
  padding: var(--padding-10) var(--padding-1);
  background-color: var(--color-steelblue-100);
  flex: 1;
  border-radius: var(--br-7);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  min-width: 83px;
  z-index: 2;
}
.rectangleParent:hover {
  background-color: var(--color-deepskyblue);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.div6,
.frameChild {
  position: relative;
  flex-shrink: 0;
}
.frameChild {
  height: var(--height-39);
  width: var(--width-128);
  border-radius: var(--br-7);
  display: none;
}
.div6 {
  flex: 1;
  font-size: var(--fs-14);
  font-family: var(--font-nunito);
  color: var(--Grays-White);
  text-align: center;
  z-index: 3;
}
.parent2,
.rectangleGroup {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.rectangleGroup {
  border-radius: var(--br-7);
  background-color: var(--color-ghostwhite);
  padding: var(--padding-10) var(--padding-2);
  box-sizing: border-box;
  min-width: 83px;
  z-index: 3;
}
.parent2 {
  flex-shrink: 0;
}
.div7 {
  z-index: 4;
}
.div7,
.div8,
.div9,
.parent3 {
  flex: 1;
  position: relative;
}
.parent3 {
  display: flex;
  align-items: flex-start;
  margin-left: -124px;
  color: var(--color-lightgray-200);
}
.div8,
.div9 {
  z-index: 5;
}
.div9 {
  color: var(--color-silver);
  z-index: 6;
  margin-left: -124px;
}
.finalCalendarOption {
  width: 89px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-10) var(--padding-1) var(--padding-0) var(--padding-2);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
}
.bgIcon,
.div10 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.div10 {
  width: 124px;
  top: 4px;
  right: -89px;
  display: inline-block;
  z-index: 1;
}
.bgIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-39);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
}
.div11 {
  height: var(--height-30);
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
  flex-shrink: 0;
  color: var(--color-silver);
}
.span {
  color: var(--Grays-White);
  white-space: pre-wrap;
}
.briefingDetailsClick {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
  text-align: left;
  font-size: var(--fs-10);
  color: var(--color-lightslategray);
}
.div12 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.dataChartView {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-22);
}
.pieChartIcon {
  height: var(--height-32);
  width: var(--width-32);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1050px) {
  .bg {
    padding-left: 21px;
    padding-top: var(--padding-20);
    padding-bottom: 195px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .ooWrapper {
    min-width: 100%;
  }
  .dispatchCalendarButtonsParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .bg {
    padding-left: 21px;
    padding-top: var(--padding-20);
    padding-bottom: 195px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .bg {
    padding-bottom: 127px;
    box-sizing: border-box;
  }
  .listParent {
    flex-wrap: wrap;
  }
  .board,
  .board3,
  .list {
    flex: 1;
  }
  .dispatchCalendarButtons {
    flex-wrap: wrap;
  }
  .ooWrapper {
    min-width: 100%;
  }
  .dispatchCalendarButtonsParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .ooWrapper {
    min-width: 100%;
  }
  .dispatchCalendarButtonsParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .bg {
    padding-left: 21px;
    padding-top: var(--padding-20);
    padding-bottom: 127px;
    box-sizing: border-box;
  }
  .listParent {
    flex-wrap: wrap;
  }
  .board,
  .board3,
  .list {
    flex: 1;
  }
  .dispatchCalendarButtons {
    flex-wrap: wrap;
  }
}
