.child,
.div {
  position: relative;
}
.div {
  width: 100%;
  height: var(--height-900);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-30);
  box-sizing: border-box;
  gap: 24.5px;
  line-height: normal;
  letter-spacing: normal;
}
.child {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-39);
  width: var(--width-128);
  border-radius: var(--br-7);
  display: none;
  flex-shrink: 0;
}
.bgWrapper,
.briefingArea {
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-30) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: calc(100% - 1031px);
  flex-shrink: 0;
}
.briefingArea {
  width: 764px;
  max-width: calc(100% - 635px);
}
@media screen and (max-width: 1200px) {
  .div {
    padding-left: 24.5px;
    padding-right: 24.5px;
    box-sizing: border-box;
  }
  .bgWrapper {
    max-width: 100%;
  }
  .briefingArea {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .bgWrapper {
    display: none;
  }
  .briefingArea {
    max-width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .div {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .bgWrapper {
    display: none;
  }
  .briefingArea {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .div {
    height: auto;
  }
}
@media screen and (max-width: 725px) {
  .div {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .bgWrapper {
    display: none;
  }
  .briefingArea {
    max-width: 100%;
  }
}
