.div,
.frameParent,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--Gray);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Grays-White);
  font-family: var(--font-nunito);
}
.frameParent,
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frameParent {
  margin-top: -1px;
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-19) 63px var(--padding-27);
  position: relative;
  isolation: isolate;
  gap: 80px;
}
.wrapper {
  padding: var(--padding-0) 186px;
  text-align: left;
  font-size: var(--fs-36);
  color: var(--Text);
  font-family: var(--font-nunito);
}
.h1 {
  margin: 0;
  width: var(--width-209);
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20) 80px 93px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  color: var(--Text);
}
.frameGroup {
  width: 969px;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
}
.frameContainer,
.frameGroup,
.parent {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  width: 257px;
  flex-direction: column;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.parent {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-0) var(--padding-1) var(--padding-0) var(--padding-0);
  gap: var(--gap-20);
}
.div2 {
  position: relative;
  font-weight: 600;
  color: var(--Grays-White);
  z-index: 4;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-10) var(--padding-0) var(--padding-0);
}
.div4 {
  position: relative;
  z-index: 2;
}
.div5,
.it,
.search {
  position: relative;
  z-index: 3;
}
.div5,
.search {
  z-index: 2;
}
.search {
  font-size: var(--fs-12);
  color: var(--color-gray-300);
}
.div5 {
  font-weight: 600;
  display: none;
  min-width: var(--min-w-26);
  flex-shrink: 0;
}
.frame,
.frameDiv {
  display: flex;
  align-items: flex-start;
}
.frameDiv {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 243px;
  gap: var(--gap-26);
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--color-gray-700);
}
.frame {
  padding: var(--padding-0) var(--padding-1);
}
.div6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.group {
  flex-direction: column;
  gap: 33px;
  color: var(--color-steelblue-100);
}
.group,
.parent2,
.wrapper2 {
  display: flex;
  align-items: flex-start;
}
.parent2 {
  flex-direction: column;
  gap: var(--gap-22);
  color: var(--color-gray-700);
}
.wrapper2 {
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-1);
}
.frameWrapper2 {
  width: 808px;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--fs-12);
  color: var(--color-black);
}
.frameParent2,
.frameWrapper2,
.parent3 {
  display: flex;
  align-items: flex-start;
}
.parent3 {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}
.frameParent2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
  margin-top: -2px;
  position: relative;
  font-size: var(--fs-10);
  color: var(--color-gray-600);
}
.privateBankerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
}
.privateBanker {
  position: relative;
  z-index: 1;
}
.dropdown,
.dropdownOptions {
  display: flex;
  align-items: flex-start;
}
.dropdown {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: 90px;
  gap: var(--gap-10);
}
.dropdownOptions {
  flex-direction: column;
  padding: var(--padding-7) var(--padding-0) var(--padding-0);
}
.arrowDown2,
.blankSpace {
  position: relative;
  z-index: 1;
}
.arrowDown2 {
  width: var(--width-15);
  height: var(--height-15);
  object-fit: contain;
}
.blankSpace {
  height: var(--height-40);
  flex: 1;
  font-size: var(--fs-22);
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.frameChild,
.topBarParent {
  position: absolute;
  margin: 0 !important;
}
.topBarParent {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  isolation: isolate;
  flex-shrink: 0;
}
.frameChild {
  height: var(--height-46);
  width: var(--width-77);
  top: 303px;
  left: 266px;
  background-color: var(--color-mediumvioletred);
  z-index: 2;
}
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 6;
}
.searchArea {
  height: 798px;
  width: var(--width-1178);
  position: absolute;
  margin: 0 !important;
  right: 32px;
  bottom: 19px;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.searchAreaChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  width: 100%;
  height: 100%;
}
.vectorIcon,
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: 14.6px;
  left: 1164.3px;
  width: var(--width-6_1);
  height: var(--height-3_6);
  object-fit: contain;
  z-index: 1;
}
.vectorIcon2,
.vectorIcon3 {
  left: 1155.1px;
}
.vectorIcon3 {
  left: 1145.9px;
}
.frameInner,
.searchAreaInner {
  position: absolute;
  border-radius: var(--br-10);
  background-color: var(--Fills-Primary);
}
.searchAreaInner {
  top: 53px;
  left: 944px;
  width: 230px;
  height: var(--height-40);
  z-index: 1;
}
.frameInner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.searchIcon {
  position: absolute;
  top: 67px;
  left: 1142px;
  width: var(--width-12);
  height: var(--height-12);
  z-index: 2;
}
.bg {
  top: 53px;
  left: 152px;
  border: var(--border-2);
  width: var(--width-78);
  height: var(--height-44);
  z-index: 1;
}
.bg,
.bg2,
.bgChild {
  position: absolute;
  background-color: var(--Grays-White);
  box-sizing: border-box;
}
.bgChild {
  top: 0;
  left: 0;
  border: var(--border-2);
  width: 100%;
  height: 100%;
  display: none;
}
.bg2 {
  left: 229px;
  width: var(--width-78);
  z-index: 2;
}
.bg2,
.bg3,
.bg4 {
  top: 53px;
  border: var(--border-2);
  height: var(--height-44);
}
.bg3 {
  position: absolute;
  left: 75px;
  background-color: var(--Grays-White);
  box-sizing: border-box;
  width: var(--width-78);
  z-index: 2;
}
.bg4 {
  left: 12px;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-10) var(--br-0) var(--br-0) var(--br-10);
  background-color: var(--color-steelblue-100);
  width: 63px;
  z-index: 3;
}
.bg4,
.groupDiv,
.rectangleDiv {
  position: absolute;
  box-sizing: border-box;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-10) var(--br-0) var(--br-0) var(--br-10);
  background-color: var(--color-steelblue-100);
  border: var(--border-2);
  width: 100%;
  height: 100%;
  display: none;
}
.groupDiv {
  width: calc(100% - 15px);
  top: 121px;
  right: 7px;
  left: 8px;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  border: var(--border-1);
  height: 602px;
  z-index: 7;
}
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  border: var(--border-1);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.groupIcon,
.starIcon {
  position: absolute;
  top: 25px;
  left: 1067.9px;
  width: var(--width-16_8);
  height: var(--height-16);
  display: none;
}
.groupIcon {
  top: 32px;
  left: 1121px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.sc {
  top: 25px;
  left: 115px;
  font-weight: 600;
}
.calendarIcon,
.dec2020,
.sc {
  position: absolute;
  display: none;
}
.dec2020 {
  top: 24px;
  left: 946px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon {
  top: 27px;
  left: 926px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 11px;
  left: 18px;
  width: var(--width-77);
  height: var(--height-46);
  display: none;
  color: var(--Grays-White);
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumspringgreen);
  width: 100%;
  height: 100%;
}
.div11 {
  position: absolute;
  top: 13px;
  left: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: var(--min-w-26);
}
.frameChild5,
.rectangleContainer,
.starIcon2 {
  position: absolute;
  top: 357px;
  left: 1px;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild5,
.starIcon2 {
  top: 382px;
  left: 1068.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.frameChild5 {
  top: 389px;
  left: 1122px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.kf21 {
  top: 382px;
  left: 116px;
  font-weight: 600;
}
.calendarIcon2,
.dec20202,
.kf21 {
  position: absolute;
  display: none;
}
.dec20202 {
  top: 381px;
  left: 947px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon2 {
  top: 384px;
  left: 927px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.frameChild7,
.rectangleFrame,
.starIcon3 {
  position: absolute;
  top: 442px;
  left: 1px;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild7,
.starIcon3 {
  top: 467px;
  left: 1068.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.frameChild7 {
  top: 474px;
  left: 1122px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.ai {
  top: 467px;
  left: 116px;
  font-weight: 600;
}
.ai,
.calendarIcon3,
.dec20203 {
  position: absolute;
  display: none;
}
.dec20203 {
  top: 466px;
  left: 947px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon3 {
  top: 469px;
  left: 927px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.rectangleGroup {
  position: absolute;
  top: 453px;
  left: 19px;
  width: var(--width-77);
  height: var(--height-46);
  display: none;
  color: var(--Grays-White);
}
.frameChild8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue-100);
  width: 100%;
  height: 100%;
}
.it2 {
  position: absolute;
  top: 14px;
  left: 18px;
  font-weight: 600;
  display: inline-block;
  min-width: 42px;
}
.frameChild10,
.rectangleWrapper2,
.starIcon4 {
  position: absolute;
  top: 532px;
  left: 1px;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild10,
.starIcon4 {
  top: 557px;
  left: 1068.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.frameChild10 {
  top: 564px;
  left: 1122px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.vs {
  top: 557px;
  left: 116px;
  font-weight: 600;
}
.calendarIcon4,
.dec20204,
.vs {
  position: absolute;
  display: none;
}
.dec20204 {
  top: 556px;
  left: 947px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon4 {
  top: 559px;
  left: 927px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.rectangleParent2 {
  top: 543px;
  left: 19px;
  width: var(--width-77);
  height: var(--height-46);
  color: var(--Grays-White);
}
.frameChild12,
.rectangleParent2,
.starIcon5 {
  position: absolute;
  display: none;
}
.frameChild12 {
  top: 88px;
  left: 0;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  border: var(--border-1);
  box-sizing: border-box;
  width: var(--width-1162);
  height: var(--height-70);
}
.starIcon5 {
  top: 113px;
  left: 1067.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  top: 120px;
  left: 1131.5px;
  width: var(--width-3_5);
  height: var(--height-3_5);
  object-fit: contain;
  display: none;
}
.vectorIcon5,
.vectorIcon6 {
  left: 1126.3px;
}
.vectorIcon6 {
  left: 1121px;
}
.div13 {
  top: 113px;
  left: 115px;
  font-weight: 600;
}
.calendarIcon5,
.dec20205,
.div13 {
  position: absolute;
  display: none;
}
.dec20205 {
  top: 112px;
  left: 946px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon5 {
  top: 115px;
  left: 926px;
  width: var(--width-12_6);
  height: var(--height-14);
}
.frameChild13 {
  top: 99px;
  left: 18px;
  background-color: var(--color-violet);
  width: var(--width-77);
  height: var(--height-46);
}
.div14,
.div15,
.frameChild13,
.frameChild14 {
  position: absolute;
  display: none;
}
.frameChild14 {
  top: 369px;
  left: 19px;
  background-color: var(--color-violet);
  width: var(--width-77);
  height: var(--height-46);
}
.div14,
.div15 {
  top: 112px;
  left: 44px;
  font-weight: 600;
  color: var(--Grays-White);
  min-width: var(--min-w-26);
}
.div15 {
  top: 383px;
}
.frameChild16,
.rectangleWrapper3,
.starIcon6 {
  position: absolute;
  top: 179px;
  left: 1px;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild16,
.starIcon6 {
  top: 204px;
  left: 1068.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.frameChild16 {
  top: 211px;
  left: 1122px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.div16 {
  top: 204px;
  left: 116px;
  font-weight: 600;
}
.calendarIcon6,
.dec20206,
.div16 {
  position: absolute;
  display: none;
}
.dec20206 {
  top: 203px;
  left: 947px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon6 {
  top: 206px;
  left: 927px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.rectangleParent3 {
  position: absolute;
  top: 190px;
  left: 19px;
  width: var(--width-77);
  height: var(--height-46);
  display: none;
  color: var(--Grays-White);
}
.frameChild19,
.rectangleWrapper4,
.starIcon7 {
  position: absolute;
  top: 267px;
  left: 1px;
  width: var(--width-1162);
  height: var(--height-70);
  display: none;
}
.frameChild19,
.starIcon7 {
  top: 292px;
  left: 1068.9px;
  width: var(--width-16_8);
  height: var(--height-16);
}
.frameChild19 {
  top: 299px;
  left: 1122px;
  width: var(--width-14);
  height: var(--height-3_5);
}
.hmm {
  top: 292px;
  left: 116px;
  font-weight: 600;
}
.calendarIcon7,
.dec20207,
.hmm {
  position: absolute;
  display: none;
}
.dec20207 {
  top: 291px;
  left: 947px;
  font-weight: 600;
  min-width: var(--min-w-86);
}
.calendarIcon7 {
  top: 294px;
  left: 927px;
  width: var(--width-12_6);
  height: var(--height-14);
  object-fit: cover;
}
.rectangleParent4 {
  position: absolute;
  top: 278px;
  left: 19px;
  width: var(--width-77);
  height: var(--height-46);
  display: none;
  color: var(--Grays-White);
}
.frameChild21 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  border: var(--border-1);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.rectangleParent5 {
  z-index: 9;
  font-size: var(--fs-28);
  color: var(--Text);
}
.frameChild22,
.rectangleParent5,
.scParent {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-drop-2);
  border-radius: var(--br-10);
  background-color: var(--Grays-White);
  border: 1px solid var(--Grays-White);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.frameChild22 {
  display: none;
}
.scParent {
  z-index: 12;
}
.frameChild23,
.sc2 {
  position: absolute;
  display: none;
}
.sc2 {
  top: 16px;
  left: 186px;
  font-size: var(--fs-32);
  font-weight: 600;
}
.frameChild23 {
  top: 18px;
  left: 1104px;
  width: var(--width-40);
  height: var(--height-40);
}
.sc3 {
  top: 22px;
  left: 174px;
  font-weight: 600;
  text-shadow: var(--text-shadow-2);
}
.rectangleParent6,
.sc3,
.starIcon8 {
  position: absolute;
  display: none;
}
.starIcon8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  top: 25px;
  left: 1042px;
  width: 25px;
  height: 25px;
}
.rectangleParent6 {
  top: 20px;
  left: 29px;
  width: 129px;
  height: 71.4px;
  text-align: center;
  font-size: var(--fs-24);
  color: var(--Grays-White);
}
.div19,
.sc4 {
  position: absolute;
  top: 21px;
  left: 35px;
  font-weight: 600;
}
.sc4 {
  margin: 0;
  top: 22px;
  left: 174px;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 789px;
  height: 96px;
  text-shadow: var(--text-shadow-2);
  z-index: 13;
}
.articleSummary,
.articleSummaryChild {
  position: absolute;
  background-color: var(--color-aliceblue-200);
}
.articleSummary {
  top: 120px;
  left: 29px;
  width: 946px;
  height: 455px;
  z-index: 13;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--Text);
  font-family: var(--font-nunito);
}
.articleSummaryChild {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.ddw7Container {
  position: absolute;
  top: 14px;
  left: 15px;
  line-height: 19.2px;
  z-index: 14;
}
.ct {
  color: inherit;
}
.ct2 {
  text-decoration: underline;
}
.frameChild27 {
  position: absolute;
  top: 120px;
  left: 989px;
  background-color: var(--color-aliceblue-200);
  width: 155px;
  height: 455px;
  z-index: 13;
}
.frameChild28,
.rectangleParent7 {
  margin: 0 !important;
  position: absolute;
  z-index: 13;
  flex-shrink: 0;
}
.frameChild28 {
  width: var(--width-40);
  height: var(--height-40);
  top: 222px;
  right: 48px;
}
.rectangleParent7 {
  width: 129px;
  top: 224px;
  left: 277px;
  background-color: var(--color-mediumspringgreen);
  display: flex;
  align-items: flex-start;
  padding: 21px var(--padding-35) 20.4px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-24);
}
.frameChild29,
.h3 {
  position: relative;
  flex-shrink: 0;
}
.frameChild29 {
  height: 71.4px;
  width: 129px;
  background-color: var(--color-mediumspringgreen);
  display: none;
}
.h3 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.child {
  width: 946px;
  height: 455px;
  background-color: var(--color-whitesmoke-300);
  max-width: 100%;
}
.child,
.ddw7Container2,
.item {
  position: relative;
  display: none;
}
.ddw7Container2 {
  color: var(--Text);
  max-width: 100%;
}
.item {
  width: 155px;
  height: 455px;
  background-color: var(--color-whitesmoke-300);
}
@media screen and (max-width: 1050px) {
  .frameWrapper {
    padding-left: 46px;
    box-sizing: border-box;
  }
  .sc2 {
    font-size: var(--fs-26);
  }
}
@media screen and (max-width: 1025px) {
  .frameParent {
    gap: 40px;
    padding: var(--padding-20) var(--padding-31);
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: 93px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-left: var(--padding-23);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .sc2 {
    font-size: var(--fs-26);
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-20);
  }
  .wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameDiv {
    padding-bottom: 158px;
    box-sizing: border-box;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .blankSpace {
    font-size: var(--fs-18);
  }
  .sc2 {
    font-size: var(--fs-19);
  }
  .sc3 {
    font-size: var(--fs-22);
  }
  .div19 {
    font-size: var(--fs-19);
  }
  .sc4 {
    font-size: var(--fs-22);
  }
  .h3 {
    font-size: var(--fs-19);
  }
  .frameParent {
    gap: 40px;
    padding: var(--padding-20) var(--padding-31);
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: 93px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-left: var(--padding-23);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .frameParent {
    gap: 40px;
    padding: var(--padding-20) var(--padding-31);
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: 93px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-left: var(--padding-23);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-20);
  }
  .wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameDiv {
    padding-bottom: 158px;
    box-sizing: border-box;
  }
  .frameParent2 {
    flex-wrap: wrap;
  }
  .blankSpace {
    font-size: var(--fs-18);
  }
  .sc2 {
    font-size: var(--fs-19);
  }
  .sc3 {
    font-size: var(--fs-22);
  }
  .div19 {
    font-size: var(--fs-19);
  }
  .sc4 {
    font-size: var(--fs-22);
  }
  .h3 {
    font-size: var(--fs-19);
  }
}
