.bg,
.menu {
  width: var(--width-218);
  position: relative;
  background-color: var(--color-white);
  flex-shrink: 0;
}
.menu {
  margin-top: -31px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 327px var(--padding-16) var(--padding-40) var(--padding-0);
  box-sizing: border-box;
  isolation: isolate;
  gap: 309px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-900);
  font-family: var(--font-nunito);
}
.bg {
  height: var(--height-900);
  display: none;
  z-index: 0;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-26);
  flex-shrink: 0;
}
.frameWrapper {
  padding: var(--padding-0) var(--padding-29);
}
.calendarWrapper,
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
}
.frameGroup {
  gap: var(--gap-17);
}
.calendarWrapper {
  flex-direction: column;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
}
.calendarIcon,
.div {
  position: relative;
  z-index: 2;
}
.calendarIcon {
  width: var(--width-18);
  height: var(--height-20);
  object-fit: cover;
}
.div {
  font-weight: 600;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-18);
}
.chartParent,
.frameContainer,
.frameDiv {
  display: flex;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-31) var(--padding-0) var(--padding-27);
}
.chartParent {
  gap: var(--gap-16);
}
.chartIcon,
.div2 {
  position: relative;
  z-index: 2;
}
.chartIcon {
  height: var(--height-20);
  width: var(--width-20);
  object-fit: cover;
}
.div2 {
  font-weight: 600;
  white-space: nowrap;
}
.frameParent2,
.frameParent3 {
  align-self: stretch;
  display: flex;
}
.frameParent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
  color: var(--color-steelblue-300);
}
.frameParent3 {
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
}
.frameParent4 {
  width: var(--width-122);
  display: flex;
  align-items: flex-start;
  gap: var(--gap-10);
}
.activityParent {
  height: var(--height-48);
  flex: 1;
  position: relative;
}
.activityIcon {
  position: absolute;
  top: 14px;
  left: 27px;
  width: var(--width-20);
  height: var(--height-20);
  object-fit: cover;
  z-index: 2;
}
.backgroundRect {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-0) var(--br-5) var(--br-5) var(--br-0);
  background: var(--gradient-1);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-15) var(--padding-0) var(--padding-0);
}
.frameWrapper2,
.rectangleParent,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.frameWrapper2 {
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-13);
  font-size: var(--fs-10);
  color: var(--Red);
}
.rectangleParent {
  padding: var(--padding-3_2) var(--padding-8) var(--padding-1);
  position: relative;
  isolation: isolate;
  z-index: 1;
}
.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9);
  background-color: var(--color-crimson-300);
  flex-shrink: 0;
}
.div4 {
  position: relative;
  font-weight: 600;
  z-index: 1;
  flex-shrink: 0;
}
.frameWrapper3 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-26);
  color: var(--color-gray-900);
}
.iconlyboldnotificationParent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
}
.iconlyboldnotification {
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.image11Icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-49);
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 82px;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
  flex-shrink: 0;
}
.menuInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-7);
  flex-shrink: 0;
  font-size: var(--fs-12);
  color: var(--color-black);
}
.frameParent5 {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-10);
}
.ellipseParent,
.frameItem {
  height: var(--height-54);
  width: var(--width-48);
  position: relative;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(--color-aliceblue);
  height: var(--height-48);
  z-index: 2;
}
.image9Icon {
  position: absolute;
  top: 9px;
  left: 1px;
  width: var(--width-45);
  height: var(--height-45);
  object-fit: cover;
  z-index: 3;
}
.frameWrapper4,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameWrapper4 {
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-18) var(--padding-9) var(--padding-0);
}
.parent {
  gap: var(--gap-1);
}
.privateBanker {
  position: relative;
  font-size: var(--fs-10);
  color: var(--color-gray-800);
  z-index: 2;
}
.logoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 16.6px;
}
.logoutIcon {
  width: var(--width-17_3);
  height: var(--height-16_7);
  position: relative;
  object-fit: cover;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    padding-top: 213px;
    padding-bottom: var(--padding-26);
    box-sizing: border-box;
  }
}
