.frameChild,
.rectangleParent {
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
}
.rectangleParent {
  flex: 0.9366;
  box-shadow: var(--shadow-drop);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-13) var(--padding-23) var(--padding-9);
  box-sizing: border-box;
  gap: var(--gap-7);
  min-width: var(--min-w-234);
  text-align: center;
  font-size: var(--fs-17);
  color: var(--color-gray-400);
  font-family: var(--font-nunito);
}
.frameChild {
  width: var(--width-312);
  height: var(--height-112);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.apiDetailsParent {
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}
.apiDetails {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.api,
.apiUnits {
  position: relative;
  font-family: inherit;
  z-index: 1;
}
.api {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
.apiUnits {
  font-size: var(--fs-30);
  font-weight: 600;
  color: var(--color-black);
  margin: -4px 0 0;
}
.apiGoals {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-20);
  flex-shrink: 0;
  font-size: var(--fs-14);
}
.div {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .apiUnits {
    font-size: var(--fs-24);
  }
}
@media screen and (max-width: 750px) {
  .apiUnits {
    font-size: var(--fs-24);
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    flex: 1;
  }
  .apiUnits {
    font-size: var(--fs-18);
  }
}
