.scrollbarVertical {
  position: absolute;
  top: 3px;
  left: 933px;
  width: var(--width-12);
  height: 450px;
  overflow: hidden;
  z-index: 14;
}
.frame,
.thumb {
  position: absolute;
  left: calc(50% - 3px);
  width: var(--width-6);
}
.frame {
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
}
.thumb {
  height: 50%;
  top: 0;
  bottom: 50%;
  border-radius: 1000px;
  background-color: var(--color-gray-100);
}
