.metricsPanel,
.tokenMetrics {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.metricsPanel {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-41) var(--padding-0) var(--padding-36);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-17);
  color: var(--color-gray-400);
  font-family: var(--font-nunito);
}
.tokenMetrics {
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-28);
}
.frameChild,
.rectangleParent {
  width: var(--width-312);
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
}
.rectangleParent {
  box-shadow: var(--shadow-drop);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-13) var(--padding-21) var(--padding-9);
  box-sizing: border-box;
  gap: var(--gap-7);
}
.frameChild {
  height: var(--height-112);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.aiParent {
  width: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.ai {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 23px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.mWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--fs-30);
  color: var(--color-black);
}
.m {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 17px;
  flex-shrink: 0;
  font-size: var(--fs-14);
}
.div {
  position: relative;
  z-index: 1;
}
.apiMetrics {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-28);
  min-width: 645px;
  max-width: 100%;
}
.rectangleGroup {
  flex: 0.8592;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
  flex-direction: column;
  padding: var(--padding-13) 34px var(--padding-9);
  box-sizing: border-box;
  gap: var(--gap-7);
  min-width: var(--min-w-234);
}
.frameWrapper,
.parent,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  width: 166px;
  padding: var(--padding-0) var(--padding-8);
  box-sizing: border-box;
  flex-shrink: 0;
}
.parent {
  flex: 1;
  flex-direction: column;
}
.apiValues,
.h3 {
  position: relative;
}
.h3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.apiValues {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -4px;
  font-size: var(--fs-30);
  color: var(--color-black);
}
.div2 {
  position: relative;
  font-size: var(--fs-14);
  z-index: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 1100px) {
  .m {
    font-size: var(--fs-24);
  }
  .apiMetrics {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .m {
    font-size: var(--fs-24);
  }
}
@media screen and (max-width: 450px) {
  .apiMetrics {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .m {
    font-size: var(--fs-18);
  }
  .rectangleGroup {
    flex: 1;
  }
}
