.bg,
.bgChild {
  border-radius: var(--br-5);
  max-width: 100%;
}
.bg {
  box-shadow: var(--shadow-drop);
  background-color: var(--Backgrounds-Tertiary-Elevated);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 33px var(--padding-26) 462.6px;
  box-sizing: border-box;
  gap: var(--gap-28);
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-gray-800);
  font-family: var(--font-nunito);
}
.bgChild {
  width: 391px;
  height: 754px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.historyDetails {
  width: 244.5px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-11);
  flex-shrink: 0;
}
.timeCircleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-4) var(--padding-0) var(--padding-0);
}
.h3,
.timeCircleIcon {
  position: relative;
  z-index: 1;
}
.timeCircleIcon {
  width: var(--width-14);
  height: var(--height-14);
  object-fit: cover;
}
.h3 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13.9px;
  flex-shrink: 0;
  font-size: var(--fs-15);
  color: var(--color-black);
}
.frameGroup {
  width: 242.9px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-10_6);
}
.image,
.imageWrapper {
  display: flex;
  align-items: flex-start;
}
.imageWrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 3.4px;
}
.image {
  padding: var(--padding-11_7) var(--padding-13) var(--padding-11_7)
    var(--padding-16);
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
  z-index: 2;
}
.iconBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-28);
  background-color: var(--color-darkslateblue);
  flex-shrink: 0;
}
.div {
  position: relative;
  line-height: var(--lh-20_5);
  font-weight: 500;
  z-index: 1;
  flex-shrink: 0;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4_4);
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--Text);
}
.div2 {
  width: 180.7px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.span {
  font-size: var(--fs-14);
}
.div3 {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-12);
  color: var(--color-gray-900);
  z-index: 2;
}
.sectionLineParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11);
}
.sectionLineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  margin-top: -1px;
  z-index: 2;
}
.frameContainer {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-10_6);
}
.image2,
.imageContainer {
  display: flex;
  align-items: flex-start;
}
.imageContainer {
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 1.7px;
}
.image2 {
  padding: var(--padding-11_7) var(--padding-13) var(--padding-11_7)
    var(--padding-16);
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
  z-index: 1;
}
.subIconBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-28);
  background-color: var(--color-khaki-200);
  flex-shrink: 0;
}
.subTransferInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4_4);
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--Text);
}
.div5,
.div6 {
  position: relative;
  z-index: 1;
}
.div6 {
  font-size: var(--fs-12);
  color: var(--color-gray-900);
}
.sectionLineGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.1px;
}
.imageParent {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-10_6);
}
.thirdIconBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-28);
  background-color: var(--color-cornflowerblue);
  flex-shrink: 0;
}
.thirdTransferInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4px;
  flex-shrink: 0;
  font-size: var(--fs-16);
  color: var(--Text);
}
.div8 {
  width: 162px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .bg {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .bg {
    padding-top: var(--padding-21);
    padding-bottom: 301px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .imageParent {
    flex-wrap: wrap;
  }
}
