.bg,
.bgChild {
  border-radius: var(--br-10);
  background-color: var(--color-white);
  max-width: 100%;
}
.bg {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-13) 377px var(--padding-15);
  box-sizing: border-box;
  gap: 37px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Grays-Black);
  font-family: var(--font-nunito);
}
.bgChild {
  width: 368px;
  height: 839px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameParent,
.frameWrapper {
  align-self: stretch;
  max-width: 100%;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-20);
  flex-shrink: 0;
}
.frameWrapper {
  padding: var(--padding-0) var(--padding-7) var(--padding-10) var(--padding-5);
  box-sizing: border-box;
}
.frameGroup,
.frameWrapper,
.parent {
  display: flex;
  align-items: flex-start;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-14);
  max-width: 100%;
}
.parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-20);
}
.addBatonIcon,
.div {
  position: relative;
  z-index: 1;
}
.div {
  font-weight: 600;
}
.addBatonIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-32);
  width: var(--width-32);
}
.bg2,
.bgItem {
  border-radius: var(--br-5);
  background-color: var(--color-whitesmoke-200);
  max-width: 100%;
}
.bg2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-14) var(--padding-15);
  box-sizing: border-box;
  gap: var(--gap-10);
  z-index: 1;
  font-size: var(--fs-12);
  color: var(--color-gray-700);
}
.bgItem {
  height: 44px;
  width: 328px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.icon {
  width: var(--width-14);
  height: var(--height-14);
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.searchInput {
  height: var(--height-16);
  width: 37px;
  position: relative;
  flex-shrink: 0;
}
.search,
.search2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.search {
  min-width: 37px;
  z-index: 2;
}
.search2 {
  border: 0;
  outline: 0;
  font-family: var(--font-nunito);
  font-size: var(--fs-12);
  max-width: 100%;
  background-color: transparent;
  color: var(--color-gray-700);
  text-align: left;
  padding: var(--padding-01);
  z-index: 3;
}
.frameContainer,
.visitSummaryWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6);
  color: var(--color-gray-600);
}
.visitSummaryWrapper {
  width: 327px;
  padding: var(--padding-0) var(--padding-34);
  box-sizing: border-box;
}
.visitSummary {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.div3 {
  position: relative;
  color: var(--color-steelblue-100);
  z-index: 1;
}
.lineParent {
  align-self: stretch;
  height: 102px;
  position: relative;
  max-width: 100%;
  color: var(--Text);
}
.frameChild {
  position: absolute;
  top: 101px;
  left: 0;
  border-top: var(--border-11);
  box-sizing: border-box;
  width: 339px;
  height: var(--height-1);
  opacity: 0.05;
  z-index: 1;
}
.contactList,
.horizontalDividers {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.contactList {
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-3) var(--padding-22);
  isolation: isolate;
  gap: var(--gap-22);
  height: 100%;
}
.horizontalDividers {
  align-self: stretch;
  height: var(--height-2);
  padding: var(--padding-0) var(--padding-10) var(--padding-2) var(--padding-0);
  flex-shrink: 0;
}
.entrySeparator,
.listSeparator {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}
.listSeparator {
  height: var(--height-1);
  flex: 1;
  border-top: 1px solid var(--Text);
  opacity: 0.05;
  max-width: 104%;
  z-index: 4;
}
.entrySeparator {
  height: var(--height-2);
  width: 120px;
  background-color: var(--color-steelblue-100);
  border-top: 2px solid var(--color-steelblue-100);
  z-index: 3;
  margin-left: -131px;
}
.icon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.profileEntry {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-16) var(--padding-0) var(--padding-8);
  flex-shrink: 0;
}
.avatarPlaceholderParent,
.contactInfo {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.contactInfo {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-5);
}
.avatarPlaceholderParent {
  gap: var(--gap-10);
  min-width: 168px;
}
.avatarPlaceholder {
  height: var(--height-51);
  width: var(--width-50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.initialsCircle {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-50);
  background-color: var(--color-deeppink);
  z-index: 1;
}
.ooParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
}
.oo {
  position: relative;
  z-index: 1;
}
.abcdefgnavercom0100000000Wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-1);
  font-size: var(--fs-12);
  color: var(--color-gray-500);
}
.abcdefgnavercom0100000000 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.amWrapper {
  flex-direction: column;
  padding: var(--padding-4) var(--padding-0) var(--padding-0);
  text-align: right;
  font-size: var(--fs-10);
  color: var(--color-gray-600);
}
.amWrapper,
.contactEntryTwo,
.infoContainer {
  display: flex;
  align-items: flex-start;
}
.contactEntryTwo {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-17) var(--padding-0) var(--padding-15);
  color: var(--Text);
}
.infoContainer {
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-8);
}
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-50);
  background-color: var(--color-mediumslateblue-100);
  z-index: 1;
}
.personDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
  min-width: 129px;
}
.contactEntryThree,
.identityInfoWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.contactEntryThree {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  gap: var(--gap-22);
  flex-shrink: 0;
  color: var(--Text);
}
.identityInfoWrapper {
  padding: var(--padding-0) var(--padding-17) var(--padding-0) var(--padding-13);
}
.avatarCircle,
.finalSeparator {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.avatarCircle {
  flex: 1;
  border-radius: var(--br-50);
  background-color: var(--color-crimson-100);
}
.finalSeparator {
  height: var(--height-1);
  border-top: var(--border-11);
  box-sizing: border-box;
  opacity: 0.05;
}
@media screen and (max-width: 1050px) {
  .bg {
    padding-bottom: 245px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bg {
    gap: var(--gap-18);
    padding-bottom: 159px;
    box-sizing: border-box;
  }
  .parent {
    flex-wrap: wrap;
  }
  .lineParent {
    height: auto;
    min-height: 102px;
  }
}
