.component1 {
  width: var(--width-70);
  height: var(--height-26);
  display: flex;
  align-items: flex-start;
  padding: 6.7px 0.5px 1.3px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  text-align: center;
  font-size: var(--fs-12);
  color: var(--Backgrounds-Tertiary-Elevated);
  font-family: var(--font-nunito);
}
.component1Child {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 0;
  flex-shrink: 0;
}
.llm {
  height: var(--height-18);
  width: 67.9px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
  flex-shrink: 0;
}
