.tokenUsage,
.usageTrends {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.usageTrends {
  align-self: stretch;
  padding: var(--padding-0) 39px var(--padding-0) var(--padding-36);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-17);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.tokenUsage {
  flex: 1;
  gap: var(--gap-30);
}
.frameChild,
.rectangleParent,
.reports {
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  box-shadow: var(--shadow-drop);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-13) var(--padding-14) 11.6px;
  box-sizing: border-box;
}
.frameChild,
.reports {
  flex-shrink: 0;
}
.frameChild {
  height: 289px;
  width: 652px;
  position: relative;
  box-shadow: var(--shadow-drop);
  display: none;
}
.reports {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8) var(--padding-0) 21.3px var(--padding-10);
  box-sizing: border-box;
  gap: 22.1px;
  z-index: 1;
}
.bg,
.h3 {
  position: relative;
  flex-shrink: 0;
}
.bg {
  align-self: stretch;
  height: 264.4px;
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
  display: none;
}
.h3 {
  margin: 0;
  width: 134px;
  font-size: inherit;
  line-height: 23px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  z-index: 4;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-4_4);
  max-width: 100%;
  flex-shrink: 0;
  text-align: right;
  font-size: var(--fs-12);
  color: var(--color-gray-500);
}
.frameParent,
.number,
.numberParent {
  display: flex;
  align-items: flex-end;
}
.numberParent {
  align-self: stretch;
  justify-content: center;
  gap: 13.8px;
  max-width: 100%;
}
.number {
  height: 175.6px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 27.4px;
  box-sizing: border-box;
  gap: 17.1px;
  opacity: 0.7;
  z-index: 1;
}
.columnValue {
  align-self: stretch;
  min-width: 29.2px;
}
.columnValue,
.columnValue2,
.columnValue6 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.columnValue2 {
  width: var(--width-19_9);
}
.columnValue6 {
  width: 10.6px;
  line-height: 10.4px;
}
.frameWrapper,
.lineParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameWrapper {
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 4.2px;
  box-sizing: border-box;
  min-width: 370px;
  max-width: 100%;
}
.lineParent {
  align-self: stretch;
  gap: 33.1px;
}
.frameItem {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-2);
  box-sizing: border-box;
  opacity: 0.05;
  z-index: 1;
}
.lineGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.6px;
}
.lineContainer {
  align-self: stretch;
  height: 121.5px;
  position: relative;
}
.lineDiv {
  position: absolute;
  top: 120.5px;
  left: 0;
  border-top: var(--border-2);
  box-sizing: border-box;
  width: var(--width-570_3);
  height: var(--height-1);
  opacity: 0.05;
  z-index: 1;
}
.frameDiv,
.vectorIcon {
  position: absolute;
  top: 0;
}
.vectorIcon {
  left: 0.9px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.frameDiv {
  left: 0;
  width: 569.3px;
  height: 99.1px;
}
.frameChild2,
.frameChild3,
.frameChild4 {
  position: absolute;
  top: 87.5px;
  left: 0;
  border-top: var(--border-2);
  box-sizing: border-box;
  width: var(--width-570_3);
  height: var(--height-1);
  opacity: 0.05;
  z-index: 1;
}
.frameChild3,
.frameChild4 {
  top: 54.4px;
}
.frameChild4 {
  top: 21.4px;
}
.vectorIcon2 {
  position: absolute;
  top: 0;
  left: 0.9px;
  filter: drop-shadow(0 4px 4px rgba(96, 91, 255, 0.17));
  width: 100%;
  height: 100%;
  z-index: 3;
}
.parent {
  width: 569px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
  text-align: left;
}
.div,
.div3 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div {
  width: var(--width-44);
}
.div3 {
  width: 42px;
}
.wrapper {
  width: var(--width-44);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div4 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.group {
  width: 120px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-4) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-31);
}
.div5 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.container {
  width: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div8 {
  width: 41px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
}
.rectangleGroup {
  flex: 0.9327;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-10);
  background-color: var(--Backgrounds-Tertiary-Elevated);
  flex-direction: column;
  padding: var(--padding-21) 35px 52px;
  box-sizing: border-box;
  gap: var(--gap-40);
  max-width: 100%;
  font-size: var(--fs-10);
  color: var(--color-gray-300);
}
.frame {
  padding: var(--padding-0) var(--padding-14);
  flex-shrink: 0;
  font-size: var(--fs-17);
  color: var(--color-black);
}
.h32 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.heatmapRows,
.heatmapRowsParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.heatmapRowsParent {
  flex-direction: column;
  gap: var(--gap-8);
  flex-shrink: 0;
}
.heatmapRows {
  justify-content: center;
  gap: 3.6px;
}
.heatmapCell,
.heatmapCell10,
.heatmapCell11,
.heatmapCell4,
.heatmapCell9 {
  height: var(--height-51);
  width: var(--width-21);
  position: relative;
  border-radius: var(--br-5);
  background-color: var(--color-lavender-300);
  z-index: 1;
}
.heatmapCell10,
.heatmapCell11,
.heatmapCell4,
.heatmapCell9 {
  width: var(--width-20);
}
.heatmapCell10,
.heatmapCell11,
.heatmapCell9 {
  background-color: var(--color-lavender-100);
}
.heatmapCell10,
.heatmapCell11 {
  width: var(--width-21);
  background-color: var(--color-lightskyblue);
}
.heatmapCell11 {
  background-color: var(--color-steelblue-200);
}
.heatmapCell12,
.heatmapCell13,
.heatmapCell14,
.heatmapCell17,
.heatmapCell20,
.heatmapCell21 {
  height: var(--height-51);
  width: var(--width-20);
  position: relative;
  border-radius: var(--br-5);
  background-color: var(--color-steelblue-400);
  z-index: 1;
}
.heatmapCell13,
.heatmapCell14,
.heatmapCell17,
.heatmapCell20,
.heatmapCell21 {
  background-color: var(--color-steelblue-100);
}
.heatmapCell14,
.heatmapCell17,
.heatmapCell20,
.heatmapCell21 {
  width: var(--width-21);
  background-color: var(--color-steelblue-400);
}
.heatmapCell17,
.heatmapCell20,
.heatmapCell21 {
  width: var(--width-20);
  background-color: var(--color-lightskyblue);
}
.heatmapCell20,
.heatmapCell21 {
  width: var(--width-21);
  background-color: var(--color-lavender-100);
}
.heatmapCell21 {
  width: var(--width-20);
  background-color: var(--color-lavender-200);
}
.heatmapLabels {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.div9 {
  position: relative;
  z-index: 1;
}
.timeMiddle {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-24) var(--padding-0) var(--padding-0);
}
.timeFurther,
.timeMiddle,
.usageIntensity {
  display: flex;
  align-items: flex-start;
}
.timeFurther {
  flex-direction: column;
  padding: var(--padding-0) 25px var(--padding-0) var(--padding-0);
}
.usageIntensity {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-1) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.thresholdBlocks {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-7);
}
.lowThreshold {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-4) var(--padding-9) var(--padding-0);
}
.highRect,
.lowRect,
.maxRect,
.medRect {
  height: var(--height-40);
  width: var(--width-21);
  position: relative;
  border-radius: var(--br-5);
  background-color: var(--color-lavender-300);
  z-index: 1;
}
.highRect,
.maxRect,
.medRect {
  width: var(--width-20);
  background-color: var(--color-lavender-100);
}
.highRect,
.maxRect {
  width: var(--width-21);
  background-color: var(--color-lightskyblue);
}
.maxRect {
  background-color: var(--color-steelblue-200);
}
.extraRect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
}
.highThresholdRect {
  width: var(--width-21);
  height: var(--height-40);
  position: relative;
  border-radius: var(--br-5);
  z-index: 1;
}
.highThreshold {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9);
}
@media screen and (max-width: 1275px) {
  .tokenUsage {
    flex-wrap: wrap;
  }
  .rectangleGroup,
  .rectangleParent {
    flex: 1;
  }
}
@media screen and (max-width: 1100px) {
  .rectangleParent {
    min-width: 100%;
  }
  .numberParent {
    flex-wrap: wrap;
  }
  .frameWrapper {
    min-width: 100%;
  }
  .lineParent {
    gap: 17px;
  }
  .parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangleGroup {
    gap: var(--gap-20);
    min-width: 100%;
  }
  .heatmapRows {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    min-width: 100%;
  }
  .numberParent {
    flex-wrap: wrap;
  }
  .frameWrapper {
    min-width: 100%;
  }
  .lineParent {
    gap: 17px;
  }
  .parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangleGroup {
    gap: var(--gap-20);
    min-width: 100%;
  }
  .heatmapRows {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .heatmapLabels {
    flex-wrap: wrap;
    justify-content: center;
  }
}
