.div {
  width: 100%;
  position: relative;
  background-color: var(--Gray);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-30) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-19);
  line-height: normal;
  letter-spacing: normal;
}
.menuParent {
  height: 900px;
  width: 238px;
  position: relative;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-gray-600);
  font-family: var(--font-nunito);
}
.menu {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 218px;
}
.bg,
.div2,
.menu {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: none;
}
.div2 {
  top: 480px;
  left: 64px;
  font-weight: 600;
  display: inline-block;
  min-width: var(--min-w-64);
  z-index: 1;
}
.iconlyboldnotification {
  position: absolute;
  top: 479px;
  left: 26px;
  width: var(--width-24);
  height: var(--height-24);
  object-fit: cover;
  z-index: 1;
}
.div3,
.div4 {
  position: absolute;
  top: 375px;
  left: 63px;
  font-weight: 600;
  display: inline-block;
  min-width: 108px;
  z-index: 1;
}
.div4 {
  top: 430px;
  min-width: 59px;
}
.iconlyboldchart {
  top: 373px;
  left: 25px;
  width: var(--width-24);
  height: var(--height-24);
  object-fit: cover;
}
.div5,
.iconlyboldactivity,
.iconlyboldchart {
  position: absolute;
  z-index: 1;
}
.iconlyboldactivity {
  top: 427px;
  left: 25px;
  width: var(--width-24);
  height: var(--height-24);
  object-fit: cover;
}
.div5 {
  top: 325px;
  left: 63px;
  font-weight: 600;
  color: var(--color-steelblue);
  display: inline-block;
  min-width: 45px;
}
.div6,
.privateBanker {
  left: 83px;
  display: inline-block;
}
.div6 {
  position: absolute;
  top: 819px;
  font-size: var(--fs-12);
  font-weight: 600;
  color: var(--color-black);
  min-width: 34px;
  z-index: 1;
}
.privateBanker {
  top: 836px;
  font-size: var(--fs-10);
  color: var(--color-gray-500);
  min-width: 66px;
}
.logoutIcon,
.menuChild,
.privateBanker {
  position: absolute;
  z-index: 1;
}
.logoutIcon {
  top: 825.7px;
  left: 177.7px;
  width: 17.3px;
  height: 16.7px;
  object-fit: cover;
}
.menuChild {
  top: 805px;
  left: 25px;
  border-radius: 50%;
  background-color: var(--color-aliceblue);
  width: var(--width-48);
  height: var(--height-48);
}
.image11Icon,
.image9Icon {
  position: absolute;
  object-fit: cover;
}
.image9Icon {
  top: 814px;
  left: 26px;
  width: 45px;
  height: var(--height-45);
  z-index: 2;
}
.image11Icon {
  top: 49px;
  left: 82px;
  width: 49px;
  height: 49px;
  z-index: 1;
}
.rectangleParent {
  position: absolute;
  top: 312px;
  left: 0;
  width: var(--width-50);
  height: var(--height-48);
}
.calendarIcon,
.frameChild {
  position: absolute;
  flex-shrink: 0;
}
.frameChild {
  top: 0;
  left: -3px;
  border-radius: var(--br-0) var(--br-5) var(--br-5) var(--br-0);
  background: var(--gradient-1);
  width: 100%;
  height: 100%;
}
.calendarIcon {
  top: 14px;
  left: 28px;
  width: var(--width-18);
  height: var(--height-20);
  object-fit: cover;
  z-index: 2;
}
.scheduleHeaderWrapper {
  height: 872px;
  flex-direction: column;
  padding: 45.6px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Text);
  font-family: var(--font-nunito);
}
.calendarWrapper,
.scheduleHeader,
.scheduleHeaderWrapper {
  display: flex;
  align-items: flex-start;
}
.scheduleHeader {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: 21.4px;
}
.calendarWrapper {
  padding: var(--padding-0) var(--padding-9);
}
.calendar {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.createSheduleCard {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-30) var(--padding-24) var(--padding-30)
    var(--padding-26);
  position: relative;
  isolation: isolate;
  gap: 140px;
  text-align: center;
  font-size: var(--fs-12);
  color: var(--color-gray-400);
}
.bgIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  flex-direction: column;
}
.frameParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 46px;
  flex-shrink: 0;
}
.frameGroup {
  gap: var(--gap-30);
}
.creatreScheduleBtnParent,
.frameGroup,
.frameWrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-4);
}
.creatreScheduleBtnParent {
  flex-direction: column;
  gap: var(--gap-20);
}
.creatreScheduleBtn,
.creatreScheduleBtnChild {
  border-radius: var(--br-10);
  background-color: var(--color-steelblue);
}
.creatreScheduleBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14) var(--padding-36) var(--padding-12);
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
  z-index: 1;
}
.creatreScheduleBtnChild {
  height: var(--height-45);
  width: var(--width-206);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.buttonAreaChild,
.div7 {
  position: relative;
  z-index: 1;
}
.buttonAreaChild {
  width: var(--width-14);
  height: var(--height-14);
}
.div7 {
  width: var(--width-56);
  font-size: var(--fs-14);
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.calenderBg,
.calenderBgChild {
  border-radius: var(--br-7);
  border: var(--border-1);
}
.calenderBg {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-18) var(--padding-11) var(--padding-14)
    var(--padding-17);
  gap: var(--gap-12);
  z-index: 1;
}
.calenderBgChild {
  width: var(--width-206);
  height: 222px;
  position: relative;
  box-sizing: border-box;
  display: none;
  flex-shrink: 0;
}
.monthArea,
.monthControl {
  display: flex;
  align-items: flex-start;
}
.monthArea {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-7) var(--padding-5) var(--padding-2);
  flex-shrink: 0;
  text-align: left;
}
.monthControl {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
}
.may22026 {
  width: 104px;
  position: relative;
  line-height: var(--lh-12);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.arrowWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
}
.arrowIcon {
  width: var(--width-26);
  height: var(--height-8);
  position: relative;
  z-index: 2;
}
.weekdayArea,
.weekdayHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.weekdayArea {
  gap: var(--gap-11);
  flex-shrink: 0;
  color: var(--color-gray-700);
}
.weekdayHeader {
  gap: var(--gap-8);
}
.weekdayContainer,
.weekdayLabels {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-2);
}
.weekdayContainer {
  padding: var(--padding-0) var(--padding-2) var(--padding-0) var(--padding-0);
  gap: var(--gap-11);
}
.dayLabelsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-12);
  flex-shrink: 0;
}
.dayLabels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-4);
}
.div8,
.s {
  position: relative;
  z-index: 2;
}
.s {
  font-weight: 600;
}
.div8 {
  color: var(--color-gray-600);
}
.mParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-0);
  gap: var(--gap-12);
  flex-shrink: 0;
}
.semicolonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-1) var(--padding-0) var(--padding-2);
  color: var(--color-gray-400);
}
.semicolon {
  position: relative;
  z-index: 2;
}
.tParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-4) var(--padding-0) var(--padding-0);
  gap: var(--gap-12);
  flex-shrink: 0;
}
.div10 {
  position: relative;
  color: var(--color-gray-400);
  z-index: 2;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3);
  color: var(--color-darkslategray-100);
}
.tGroup {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-7) var(--padding-0) var(--padding-0);
  gap: var(--gap-12);
  flex-shrink: 0;
}
.dayArea,
.fParent,
.tGroup {
  display: flex;
  align-items: flex-start;
}
.fParent {
  flex-direction: column;
  gap: var(--gap-12);
  flex-shrink: 0;
}
.dayArea {
  position: relative;
  isolation: isolate;
  color: var(--color-white);
}
.dayAreaChild {
  height: var(--height-26);
  width: 171px;
  position: absolute;
  margin: 0 !important;
  right: 2px;
  bottom: -4px;
  border-radius: var(--br-30);
  z-index: 3;
  flex-shrink: 0;
}
.dayContainer,
.dayContainerChild {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-5);
  background-color: var(--color-deepskyblue-200);
  flex-shrink: 0;
}
.dayContainer {
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-2) var(--padding-3) var(--padding-3) var(--padding-6);
  gap: var(--gap-10);
  z-index: 4;
}
.dayContainerChild {
  height: 21px;
  width: 176px;
  position: relative;
  display: none;
}
.daySeparatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-8) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.daySeparator {
  position: relative;
  z-index: 5;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-5) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
  color: var(--color-sandybrown);
}
.div16,
.div17 {
  position: relative;
  z-index: 5;
}
.div16 {
  font-weight: 600;
}
.div17 {
  flex-shrink: 0;
}
.numberArea {
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-2);
  color: var(--color-gray-400);
}
.dayNumberContainer,
.eventArea,
.numberArea {
  display: flex;
  align-items: flex-start;
}
.dayNumberContainer {
  gap: var(--gap-11);
}
.eventArea {
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-2);
  flex-shrink: 0;
}
.eventSeparatorsParent,
.parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12);
}
.parent4 {
  align-items: flex-end;
}
.eventSemicolonWrapper {
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-4);
  color: var(--color-gray-600);
}
.eventSemicolonWrapper,
.frameParent2,
.wrapper3 {
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  align-self: stretch;
  height: 164px;
  flex-direction: column;
  gap: 13px;
  font-size: var(--fs-10);
  color: var(--color-darkslategray-300);
}
.wrapper3 {
  width: 86px;
  padding: var(--padding-0) var(--padding-4) var(--padding-4);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Text);
}
.div39 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 78px;
  white-space: nowrap;
  z-index: 1;
}
.detailContainer {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3);
}
.eventSpaceParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-14);
}
.eventSpace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-2);
}
.oo,
.spaceFiller {
  align-self: stretch;
  position: relative;
  z-index: 3;
}
.spaceFiller {
  display: inline-block;
  min-width: 67px;
}
.oo {
  flex: 1;
  font-size: var(--fs-14);
  color: var(--color-darkslategray-200);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailContainer2 {
  height: var(--height-0);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-2);
  box-sizing: border-box;
}
.sectionLineIcon {
  height: var(--height-0);
  width: 213.7px;
  position: relative;
  z-index: 3;
}
.detailContainer3 {
  width: 204px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-4);
  box-sizing: border-box;
}
.frameParent3 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-15);
}
.div40,
.div41 {
  position: relative;
  z-index: 3;
}
.div40 {
  align-self: stretch;
}
.div41 {
  flex: 1;
  font-size: var(--fs-14);
  color: var(--color-darkslategray-200);
}
.detailContainer4 {
  height: var(--height-0);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.frameItem {
  align-self: stretch;
  height: var(--height-0);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.myScheduleBtnWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-4);
  flex-shrink: 0;
}
.myScheduleBtn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14) 61px var(--padding-12);
  background-color: transparent;
  flex: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  z-index: 1;
}
.buttonBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10);
  border: 1px solid var(--Primary);
  box-sizing: border-box;
  opacity: 0.1;
  flex-shrink: 0;
}
.mySchedule {
  position: relative;
  font-size: var(--fs-14);
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-steelblue);
  text-align: left;
  z-index: 1;
  flex-shrink: 0;
}
.contentHeader,
.contentHeaderWrapper,
.viewOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.contentHeaderWrapper {
  flex: 1;
  padding: 44px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 564px;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-gray-700);
  font-family: var(--font-nunito);
}
.contentHeader,
.viewOptions {
  align-self: stretch;
  gap: var(--gap-1);
}
.viewOptions {
  align-items: flex-end;
  gap: var(--gap-15);
}
.rectangleGroup,
.viewButtons {
  display: flex;
  align-items: flex-start;
}
.viewButtons {
  margin: 0;
  width: 280px;
  gap: var(--gap-20);
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-10) var(--padding-13) var(--padding-11)
    var(--padding-14);
  background-color: transparent;
  flex: 1;
  position: relative;
  isolation: isolate;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10);
  background-color: var(--color-mediumslateblue-100);
  flex-shrink: 0;
}
.day {
  flex: 1;
  position: relative;
  font-size: var(--fs-14);
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-gray-700);
  text-align: center;
  z-index: 1;
  flex-shrink: 0;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-10) 21px var(--padding-11);
  background-color: var(--color-steelblue);
  flex: 0.717;
  border-radius: var(--br-10);
  display: flex;
  align-items: flex-start;
}
.rectangleContainer:hover {
  background-color: var(--color-deepskyblue-100);
}
.rectangleDiv,
.week {
  position: relative;
  flex-shrink: 0;
}
.rectangleDiv {
  height: var(--height-40);
  width: var(--width-80);
  border-radius: var(--br-10);
  background-color: var(--color-steelblue);
  display: none;
}
.week {
  flex: 1;
  font-size: var(--fs-14);
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.groupButton,
.monthHeader {
  display: flex;
  align-items: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-10) var(--padding-18) var(--padding-11);
  background-color: transparent;
  flex: 0.8302;
  position: relative;
  isolation: isolate;
}
.monthHeader {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-2) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.monthLabel,
.monthLabelChild {
  border-radius: var(--br-10) var(--br-10) var(--br-0) var(--br-0);
  background-color: var(--color-white);
  max-width: 100%;
}
.monthLabel {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-16) var(--padding-23) var(--padding-15)
    var(--padding-15);
  box-sizing: border-box;
  gap: var(--gap-20);
}
.monthLabelChild {
  height: 50px;
  width: 866px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.navigationButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.navigationButtonChild {
  width: var(--width-30);
  height: var(--height-8);
  position: relative;
  z-index: 1;
}
.weekdayGrid {
  width: 868px;
  height: 720.1px;
  border-radius: var(--br-3);
  background-color: var(--color-white);
  border: var(--border-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 27px 47px 668px var(--padding-0);
  gap: 28px;
  max-width: 100%;
  font-size: var(--fs-16);
  color: var(--Text);
}
.weekdayGridChild,
.weekdayTitles {
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.weekdayGridChild {
  width: 868px;
  height: 720px;
  position: relative;
  border-radius: var(--br-3);
  background-color: var(--color-white);
  border: var(--border-2);
  display: none;
}
.weekdayTitles {
  width: 771px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-0) var(--padding-2) var(--padding-0) var(--padding-0);
  gap: var(--gap-20);
}
.sun {
  position: relative;
  font-weight: 600;
  z-index: 1;
  flex-shrink: 0;
}
.dayTitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.mon {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.dayTitles4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-12) var(--padding-0) var(--padding-0);
  flex-shrink: 0;
}
.scheduleArea {
  margin-right: -48px;
  width: var(--width-869);
  height: 642px;
  position: relative;
  max-width: 107%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--fs-14);
  color: var(--color-gray-100);
}
.lineIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.meetingArea {
  position: absolute;
  top: 3px;
  left: 49px;
  width: 773px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-gray-700);
}
.timeIndicatorWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) 22px var(--padding-0) var(--padding-20);
}
.timeIndicator {
  height: var(--height-2);
  width: 125px;
  position: relative;
  border-top: 2px solid var(--Orange);
  box-sizing: border-box;
  z-index: 2;
}
.parent6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.h3 {
  color: var(--color-crimson);
}
.h3,
.h32,
.h34 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.h34 {
  color: var(--color-darkorange);
}
.scheduleAreaChild,
.scheduleAreaInner,
.scheduleAreaItem {
  box-sizing: border-box;
  width: var(--width-869);
  height: var(--height-1);
  z-index: 2;
}
.scheduleAreaChild {
  position: absolute;
  top: 82px;
  left: 0;
  border-top: var(--border-11);
}
.scheduleAreaInner,
.scheduleAreaItem {
  border-top: var(--border-21);
}
.scheduleAreaItem {
  position: absolute;
  top: 285px;
  left: 0;
}
.scheduleAreaInner {
  top: 387px;
}
.lineDiv,
.lineParent,
.scheduleAreaInner {
  position: absolute;
  left: 0;
}
.lineDiv {
  top: 438px;
  border-top: var(--border-21);
  box-sizing: border-box;
  width: var(--width-869);
  height: var(--height-1);
  z-index: 2;
}
.lineParent {
  top: 165px;
  width: 100%;
  height: 25px;
  font-size: var(--fs-10);
  color: var(--color-white);
}
.frameChild3 {
  position: absolute;
  top: 19px;
  left: 0;
  border-top: var(--border-21);
  box-sizing: border-box;
  width: var(--width-869);
  height: var(--height-1);
  z-index: 2;
}
.div44 {
  position: absolute;
  top: 11px;
  left: 515px;
  font-weight: 600;
  z-index: 3;
}
.div45,
.parent7 {
  position: absolute;
  left: 0;
  display: flex;
}
.div45 {
  top: 0;
  font-size: var(--fs-14);
  font-weight: 600;
  color: var(--color-gray-100);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 3;
}
.parent7 {
  top: 215px;
  width: 868px;
  height: var(--height-20);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
  max-width: 100%;
}
.div46 {
  width: var(--width-50);
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.lineGroup,
.parent8 {
  position: absolute;
  left: 0;
  max-width: 100%;
}
.parent8 {
  top: 520px;
  width: var(--width-869);
  height: var(--height-20);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
  box-sizing: border-box;
}
.lineGroup {
  top: 571px;
  width: 100%;
  height: 71px;
}
.frameChild6,
.parent9 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.frameChild6 {
  top: 70px;
  border-top: var(--border-21);
  width: 870px;
  height: var(--height-1);
  z-index: 2;
}
.parent9 {
  top: 0;
  width: 868px;
  height: var(--height-20);
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
}
.parent9,
.scheduleEvents,
.scheduleEventsParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.scheduleEventsParent {
  position: absolute;
  top: 359px;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  font-size: var(--fs-14);
  color: var(--color-gray-100);
  font-family: var(--font-nunito);
}
.scheduleEvents {
  width: 665px;
  justify-content: space-between;
  gap: var(--gap-20);
}
.meetingCard,
.placeholderParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.meetingCard {
  width: var(--width-50);
  padding: var(--padding-9) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.placeholderParent {
  align-self: stretch;
  gap: 32px;
}
.placeholder {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 3;
}
.groupDiv,
.innerSchedule {
  display: flex;
  align-items: flex-start;
}
.innerSchedule {
  width: 281px;
  gap: 125px;
  font-size: var(--fs-10);
  color: var(--color-white);
}
.groupDiv {
  flex: 1;
  border-radius: var(--br-3);
  background-color: var(--Orange);
  padding: 44px var(--padding-8) var(--padding-45) var(--padding-9);
  z-index: 3;
}
.div49,
.frameChild8 {
  position: relative;
  flex-shrink: 0;
}
.frameChild8 {
  height: 108px;
  width: var(--width-103);
  border-radius: var(--br-3);
  background-color: var(--Orange);
  display: none;
}
.div49 {
  height: var(--height-19);
  flex: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.emptyContent,
.meetingDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.meetingDetails {
  width: 53px;
  padding: var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.emptyContent {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
}
.emptyContentChild {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-21);
  box-sizing: border-box;
  z-index: 2;
}
@media screen and (max-width: 1125px) {
  .div,
  .weekdayGrid {
    box-sizing: border-box;
  }
  .div {
    flex-wrap: wrap;
    padding: var(--padding-20);
  }
  .weekdayGrid {
    padding-top: var(--padding-20);
    padding-bottom: 434px;
  }
}
@media screen and (max-width: 1050px) {
  .createSheduleCard,
  .scheduleHeaderWrapper {
    padding-top: var(--padding-30);
    box-sizing: border-box;
  }
  .createSheduleCard {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
  }
  .contentHeaderWrapper {
    padding-top: var(--padding-29);
    box-sizing: border-box;
  }
  .weekdayGrid {
    padding-right: var(--padding-23);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .scheduleHeaderWrapper {
    padding-top: var(--padding-20);
    box-sizing: border-box;
  }
  .calendar {
    font-size: var(--fs-19);
  }
  .createSheduleCard {
    gap: 70px;
  }
  .contentHeaderWrapper {
    padding-top: var(--padding-20);
    box-sizing: border-box;
  }
  .monthLabel {
    flex-wrap: wrap;
  }
  .weekdayGrid {
    height: auto;
  }
  .weekdayTitles {
    flex-wrap: wrap;
  }
  .scheduleArea {
    height: auto;
    min-height: 642px;
  }
  .parent6 {
    flex-wrap: wrap;
  }
  .h3,
  .h32,
  .h34 {
    font-size: var(--fs-19);
  }
  .scheduleEvents {
    flex-wrap: wrap;
  }
  .innerSchedule {
    gap: 62px;
  }
  .contentHeaderWrapper {
    min-width: 100%;
  }
  .weekdayGrid {
    padding-bottom: 282px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .scheduleHeaderWrapper {
    padding-top: var(--padding-20);
    box-sizing: border-box;
  }
  .calendar {
    font-size: var(--fs-19);
  }
  .createSheduleCard {
    gap: 70px;
  }
  .contentHeaderWrapper {
    padding-top: var(--padding-20);
    box-sizing: border-box;
  }
  .monthLabel {
    flex-wrap: wrap;
  }
  .weekdayGrid {
    height: auto;
  }
  .weekdayTitles {
    flex-wrap: wrap;
  }
  .scheduleArea {
    height: auto;
    min-height: 642px;
  }
  .parent6 {
    flex-wrap: wrap;
  }
  .h3,
  .h32,
  .h34 {
    font-size: var(--fs-19);
  }
  .scheduleEvents {
    flex-wrap: wrap;
  }
  .innerSchedule {
    gap: 62px;
  }
}
